<div class="hero">
  <h1>HexMirror</h1>
  <p>A local mirror of <a href="https://hex.pm">hex.pm</a>.</p>
  <p>
    Point your <code>mix</code> at this server with:
  </p>
  <pre><code>mix hex.config mirror_url http://localhost:4000</code></pre>
  <p><.link navigate={~p"/packages"}>Browse packages</.link></p>
</div>
